In [1]:
x

1

In [4]:
5//2 #나누고 몫을 구하는 연산

2

In [22]:
a = 5
if a != 1:
    print("1이 아님") #비교연산자 등호(==), 같지 않음(!=)

1이 아님

In [19]:
a = 1
a = a*10
print(a)

10

In [32]:
a = 1
a *= 10
print(a)

10

In [35]:
x = True
y = False

if x or y:
    print("Yes")
else:
    print("No")

Yes

In [36]:
a = 8
b = 11
c = a & b
d = a ^ b

print(c)
print(d)

8
3

In [39]:
a = [1,2,3,4]
b = 3 in a
print(b)

True

In [40]:
a = "ABC"
b = a
print(a is b)

True

In [41]:
s = '''아리랑
아리랑
아라리요
'''
print(s)

아리랑
아리랑
아라리요

In [43]:
s = '아리랑\n아리랑\n아라리요'
print(s)

아리랑
아리랑
아라리요

In [45]:
p = "이름: %s 나이: %d" % ("김유신", 65)
print(p)

이름: 김유신 나이: 65

In [51]:
p = "x = %0.3f, y = %0.2f" % (3.141592, 3.141592)
print(p)

x = 3.142, y = 3.14